decorator==4.3.0
Django==2.0.5
django-bootstrap-toolkit==2.15.0
django-debug-toolbar==1.9.1
django-registration-redux==2.4
get==1.0.3
gunicorn==19.8.1
idna==2.7
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
lazy-object-proxy==1.3.1
more-itertools==4.1.0
pickleshare==0.7.4
Pillow==8.1.1
post==1.0.2
py==1.5.3
python-decouple==3.1
pytz==2018.4
query-string==1.0.2
request==1.0.2
requests==2.19.0
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
urllib3==1.23
virtualenv==16.0.0
virtualenvwrapper-win==1.2.5
whitenoise==3.3.1